<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="footer-logo">
        <img src="/img/logo-blue.png" alt="Footer Logo Blue">
        </h1>
        <p>A free website template created exclusively for <a href="http://tympanus.net/codrops/"><em>Codrops</em></a></p>
      </div>
      <div class="col-md-7">
        <ul class="footer-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#screenshots">Screenshots</a></li>
          <li><a href="#download">Download</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="overlay overlay-boxify">
  <nav>
    <ul>
      <li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
      <li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
    </ul>
    <ul>
      <li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
      <li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
    </ul>
  </nav>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/min/toucheffects-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/flickity.pkgd.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/retina.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/min/scripts-min.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X');ga('send','pageview');
</script>