<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<html lang="pt-br" class="no-js">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- open/close -->
  <header>
    <section class="hero">
      <div class="texture-overlay"></div>
      <div class="container">
        <div class="row nav-wrapper">
          <div class="col-md-6 col-sm-6 col-xs-6 text-left">
            <a href="#"><img src="/img/logo.svg" alt="Digital Setup" width="200px"></a>
          </div>
          <!--
            <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
              <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
            </div>
            -->
        </div>
        <div class="row hero-content">
          <div class="col-md-12">
            <h1 class="animated fadeInDown">Controle completo da experiência de marca em projetos digitais ágeis.</h1>
            <a href="#cases" class="use-btn animated fadeInUp">Nossos cases</a> <a href="#contact"
              class="learn-btn animated fadeInUp">Entre em contato <i class="fa fa-arrow-down"></i></a>
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="screenshots-intro" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Projetos Digitais nas melhores plataformas do mercado</h1>
          <p>A Digital Setup desenvolve projetos digitais desde a briefing, considerando a seleção da tecnologia
            adotada, até seu lançamento. Sempre, nossos processos ágeis buscam entregar o melhor resultado de
            experiência de marca, com espaço para contribuição dos clientes que dominam o segmento de atuação e
            diferenciais do negócio.</p>
          <!--<p><a href="#screenshots" class="arrow-btn">See the screenshots! <i class="fa fa-long-arrow-right"></i></a></p>-->
        </div>
      </div>
    </div>
  </section>
  <section class="features-list" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 feature-1 wp2">
            <div class="feature-icon">
              <i class="fa fa-desktop"></i>
            </div>
            <div class="feature-content">
              <h1>Responsivo</h1>
              <p>Todas criações consideram o design e interação em qualquer dispositivo.</p>
              <!--<a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>-->
            </div>
          </div>
          <div class="col-md-4 feature-2 wp2 delay-05s">
            <div class="feature-icon">
              <i class="fa fa-flash"></i>
            </div>
            <div class="feature-content">
              <h1>Agilidade</h1>
              <p>Metodologia ágil proprietária permite grande interação do cliente e evolução semanal.</p>
              <!--<a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>-->
            </div>
          </div>
          <div class="col-md-4 feature-3 wp2 delay-1s">
            <div class="feature-icon">
              <i class="fa fa-heart"></i>
            </div>
            <div class="feature-content">
              <h1>Experiência</h1>
              <p>A presença digital do seu negócio transmitindo perfeitamente sua proposta de valor.</p>
              <!--<a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="screenshots" id="cases">
    <div class="container-fluid">
      <div class="row">
        <ul class="grid">
          <li>
            <figure>
              <div class="fakeimg" style="background-image: url(../img/cases/01.png)"></div>
              <figcaption>
                <div class="caption-content">
                  <a target="_blank" href="https://www.ilcasalingo.com.br/" class="single_image">
                    <i class="fa fa-link"></i><br>
                    <p>Il Casalingo</p>
                  </a>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="fakeimg" style="background-image: url(../img/cases/02.png)"></div>
              <figcaption>
                <div class="caption-content">
                  <a target="_blank" href="https://www.positivebrands.com.br/" class="single_image">
                    <i class="fa fa-link"></i><br>
                    <p>Positive Brands</p>
                  </a>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="fakeimg" style="background-image: url(../img/cases/03.png)"></div>
              <figcaption>
                <div class="caption-content">
                  <a target="_blank" href="https://www.sriclothing.com/" class="single_image">
                    <i class="fa fa-link"></i><br>
                    <p>Sri Clothing</p>
                  </a>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="fakeimg" style="background-image: url(../img/cases/04.png)"></div>
              <figcaption>
                <div class="caption-content">
                  <a target="_blank" href="https://www.gloriacoelho.com.br/" class="single_image">
                    <i class="fa fa-link"></i><br>
                    <p>Glória Coelho</p>
                  </a>
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="grid">
          <li>
            <figure>
              <div class="fakeimg" style="background-image: url(../img/cases/05.png)"></div>
              <figcaption>
                <div class="caption-content">
                  <a target="_blank" href="https://www.delico.com.br/" class="single_image">
                    <i class="fa fa-link"></i><br>
                    <p>Deli&Co.</p>
                  </a>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="fakeimg" style="background-image: url(../img/cases/06.png)"></div>
              <figcaption>
                <div class="caption-content">
                  <a target="_blank" href="https://www.chlorophylla.com.br/" class="single_image">
                    <i class="fa fa-link"></i><br>
                    <p>Chlorophylla</p>
                  </a>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="fakeimg" style="background-image: url(../img/cases/07.png)"></div>
              <figcaption>
                <div class="caption-content">
                  <a target="_blank" href="https://www.lojaluciabastos.com.br/" class="single_image">
                    <i class="fa fa-link"></i><br>
                    <p>Lucia Bastos</p>
                  </a>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="fakeimg" style="background-image: url(../img/cases/08.png)"></div>
              <figcaption>
                <div class="caption-content">
                  <a target="_blank" href="https://www.lepartage.com.br/" class="single_image">
                    <i class="fa fa-link"></i><br>
                    <p>Le Partage</p>
                  </a>
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="download" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center wp4">
          <h1>Entre em contato conosco</h1>
          <form id="form-contact" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off"
            enctype="multipart/form-data" method="post" novalidate
            action="https://vnda.wufoo.com/forms/z5eilza1k3sc6u/#public">
            <input type="text" id="Field1" name="Field1" placeholder="Nome" />
            <input type="text" id="Field8" name="Field8" placeholder="Telefone" />
            <input type="text" id="Field3" name="Field3" placeholder="E-mail" />
            <textarea placeholder="Mensagem" id="Field4" name="Field4"></textarea>
            <button type="submit" class="download-btn fix-send-button">Enviar <i class="fa fa-paper-plane"></i></button>
            <div class="hide">
              <label for="comment">Do Not Fill This Out</label>
              <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
              <input type="hidden" id="idstamp" name="idstamp" value="WsFzRAMEc6qNbkOtGo8X7VGE79HV2WsWWYRktKoDcJI=" />
            </div>
            <div class="form-success">
              <h1>Obrigado por entrar em contato, retornaremos em breve.</h1>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/footer.ejs %>

</body>

</html>